
<!doctype html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Quản lý sản phẩm</title>
    <th:context th:replace="base :: resources"></th:context>
</head>
<body>

    <main class="container">
        <h1 class="text-center text-info mt-2">QUẢN LÝ SẢN PHẨM</h1>

        <form th:action="@{/Item}" method="post" enctype="multipart/form-data" th:object="${Item}">
         
            <div class="form-floating mb-3 mt-3">
                <input type="text" class="form-control" id="name" placeholder="Tên sản phẩm" th:field="*{ItemName}" required />
                <label for="name">Tên sản phẩm</label>
                <div th:if="${#fields.hasErrors('ItemName')}" class="text-danger">
                    <p th:errors="*{ItemName}"></p>
                </div>
            </div>

          <input type="hidden" th:field="*{lockerId.lockerId}" />

            <!-- File -->
            <div class="form-floating mb-3 mt-3">
                <input type="file" class="form-control" th:field="*{file}" />
            </div>
            <button type="submit" class="btn btn-success">
                <span th:if="${Item.ItemId == null}">Thêm sản phẩm</span>
                <span th:if="${Item.ItemId != null}">Cập nhật sản phẩm</span>
            </button>

            </div>
        </form>
    </main>



</body>
</html>
